body{
text-align:center; 
	width:60%;
	background-color:#f8f8f8
}
.author{
	text-align:left 
}
.book-library{
	background:#ffffff
}
.price{
	text-align:center;
	background:rgb(46, 204, 113);
	color:#777777;
}